/* import font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* color palette */
    --color-level0: #565656;
    --color-level1: #0f60a7;
    --color-level2: #5E88BA;
    --color-level3: #fefefe;
}

* {
    /* reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* default font */
    font-family: 'poppins', sans-serif;
}

body {
    background-color: var(--color-level1);
    color: var(--color-level0);
}

.limit-width {
    width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}

/* navigation menu */

.navigation-menu {
    background-color: var(--color-level3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
    border-bottom: 5px solid var(--color-level1);
    z-index: 10;
}

.navigation-menu .container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container-logo {
    position: relative;
    height: 100%;
    width: 129.06px;
}

.container-logo .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;

    box-shadow: 3px 3px 20px 0 #000;
    border-radius: 50%;
}

.nav-bar ul {
    display: flex;
    gap: 60px;
}

.nav-items {
    list-style: none;
    border-bottom: 3px solid var(--color-level3);
}

.nav-items:hover {
    border-bottom: 3px solid var(--color-level1);
}

.nav-items a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-level0);
}

.social-bar a {
    font-size: 20px;
    border-radius: 50%;
    padding: 5px 10px;
    color: var(--color-level3);
    box-shadow: 1px 1px 10px 0 #000;
}

.social-bar a:hover{
    color: #e7e7e7;
}

.icon-facebook {
    background-color: #3b5998;
}

.icon-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.icon-whatsapp {
    background-color: #25d366;
}

/* mobile navigation menu */

.mobile-menu {
    border: none;
    background-color: transparent;
    display: none;
    color: var(--color-level0);
}

.fa-bars {
    font-size: 35px;
}

.mobile-nav-bar {
    background-color: var(--color-level3);
    border-radius: 10px;
    margin: 5px;
    text-align: end;
    display: none;
}

.mobile-nav-items {
    list-style: none;
    padding: 10px 25px;
}

.border-bottom {
    border-bottom: 1px solid;
}

.mobile-nav-items a {
    text-decoration: none;
    padding: 10px 0px 10px 64px;
    color: var(--color-level0);
    text-transform: uppercase;
}

#prayer-panel {
    color: var(--color-level3);
    background-image: url(../images/wallpaper/wallpaper-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 68px;
    padding-bottom: 68px;

    .title-subtitle {
        max-width: 100%;
        border-radius: 0px 0px 30px 30px;
        background-color: #00000081;
        text-align: center;
    }

    .title {
        font-size: 25px;
        font-weight: normal;
    }

    .subtitle {
        margin-top: -25px;
        font-size: 50px;
        font-weight: 400;
    }

    .update {
        display: inline;
        background-color: #2bff0033;
        border-radius: 10px;
        padding: 5px;
        font-size: 10px;
    }

    .update i {
        margin-right: 5px;
    }

    .title, .subtitle {
        text-shadow: 1px 1px 10px #000;
    }

    .requests {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        .card-prayer-request {
            border-radius: 10px;
            background-color: #00000081;
            font-size: 13px;
            padding: 10px;
            flex-basis: 300px;
            flex-grow: 1;

            p {
                padding: 5px;
            }

            span {
                font-weight: bold;
                text-decoration: underline;
            }

            .name {
                font-size: 20px;
                color: #fec564;
            }

            .prayer-request {
                background-color: #00000081;
                padding: 10px;
                margin: 5px;
                border-radius: 10px;
            }
        }
    }
}

/* footer */

footer {
    background-color: var(--color-level2);
    width: 100%;
    color: var(--color-level3);
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}